* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.about,
.contact {
	max-width: 800px;
	margin: 15px auto;
}
.navbar {
	padding: 0 16px;
	background: #333;
	color: #fff;
}
.navbar h1 {
	display: inline-block;
}
.navlinks {
	float: right;
	margin: 25px 0;
	padding: 0;
	list-style-type: none;
}
.navlinks li {
	display: inline;
	margin: 0 10px;
}
.link {
	color: #fff;
}
