.projects-container {
	background: #111;
	color: #fff;
	padding: 50px 0;
	text-align: center;
}
.projects {
	margin: 0 auto;
}
.project {
	height: 300px;
	width: 300px;
	margin: 0 15px;
	display: inline-block;
}
.project.one {
	background: green;
}
.project.two {
	background: blue;
}
.project.three {
	background: aquamarine;
}
